body {
  background-color: black;
  color: yellow;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: yellow;
  text-align: center;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 38px;
  font-weight: bold;
}

p {
  color: yellow;
  text-align: center;
}

.move-icon {
  height: 50px;
}

.move-button {
  background-color: transparent;
  border: 5px double white;
  width: 120px;
  height: 120px;
  margin-right: 10px;
  border-radius: 50%;
}

button:hover {
  cursor:pointer;
  border-width: 10px;
  border-color: orange;
}

.result {
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
}

.score {
  margin-top: 50px;
}

.reset-button {
  background-color: transparent;
  color: yellow;
  font-size: 15px;
  padding: 8px 15px;
  cursor: pointer;
}

    